.heading-font {
font-family:'Courier New', Courier, monospace;
font-weight:200;
letter-spacing:1px
}
.body-font {
font-family:'Courier New', Courier, monospace;
}
.alt-font {
font-family:'Courier New', Courier, monospace;
text-transform:uppercase;
letter-spacing:2px
}
body, html {
height:100%;
width:100%
}
body {
font-family:'Courier New', Courier, monospace;
overflow-x: hidden;
-webkit-tap-highlight-color:#222;
}
.navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
font-family:'Courier New', Courier, monospace;
font-weight:200;
letter-spacing:1px;
z-index: 90000;
}
a {
-webkit-transition:all .35s;
-moz-transition:all .35s;
transition:all .35s;
color:#fdcc52
}
a:focus, a:hover {
color:#fcbd20
}
hr {
max-width:100px;
margin:25px auto 0;
border-width:1px;
border-color:rgba(34,34,34,.1)
}
hr.light {
border-color:#fff
}
p {
font-size:18px;
line-height:1.5;
margin-bottom:20px
}
.navbar-default {
background-color:#fff;
border-color:rgba(34,34,34,.05);
-webkit-transition:all .35s;
-moz-transition:all .35s;
transition:all .35s;

}
.navbar-default .navbar-header .navbar-brand {
color:#fdcc52
}
.btn, .navbar-default .nav>li>a {
font-family:Inconsolata, sans-serif;
text-transform:uppercase;
letter-spacing:2px
}
.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
color:#fcbd20
}
.navbar-default .navbar-header .navbar-toggle {
font-size:12px;
color:#222;
padding:8px 10px
}
.navbar-default .nav>li>a {
font-size:11px
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
color:#222
}
.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
color:#fdcc52
}
.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
color:#fdcc52!important;
background-color:transparent
}
.navbar-default .nav>li.active>a:focus:hover, .navbar-default .nav>li.active>a:hover {
background-color:transparent
}
@media (min-width:768px) {
.navbar-default {
background-color:transparent;
border-color:transparent
}
.navbar-default .navbar-header .navbar-brand {
color:rgba(255,255,255,.7)
}
.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
color:#fff;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
color:rgba(255,255,255,.7);
}
.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
color:#fff;
}
.navbar-default.affix {
background-color:rgba(255, 255, 255, 0.5);
border-color:rgba(34,34,34,.1)
}
.navbar-default.affix .navbar-header .navbar-brand {
color:#222
}
.navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover {
color:#fdcc52
}
.navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
color:#222
}
.navbar-default.affix .nav>li>a:focus:hover, .navbar-default.affix .nav>li>a:hover {
color:#fdcc52
}
}
header {
position:relative;
width:100%;
min-height:auto;
overflow-y:hidden;
z-index: 9999;

/* filter: brightness(70%); */
/* background:url(../img/bg-pattern.png), #926db4;
background:url(../img/bg-pattern.png), -webkit-linear-gradient(to left, #926db4, #234ca3);
background:url(../img/bg-pattern.png), linear-gradient(to left, #926db4, #234ca3);*/
/* color:#fff  */
/* background:url(../img/water.jpeg) no-repeat 0 0;  */
}

.bg-image { 
  left: 0;
  right: 0;
  z-index: 0;

  position:absolute;
  display: block;
  background-image: url('../img/water.jpeg');
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  background-repeat: false;
}
header .header-content {
text-align:center;
padding:150px 0 50px;
position:relative
}

header .header-content .header-content-inner {
position:relative;
max-width:100%;
margin:0 auto
}
header .header-content .header-content-inner h1 {
margin-top:0;
margin-bottom:30px;
font-size:80px;
background: #fff;
color: rgb(70, 185, 189)
}
header .header-content .header-content-inner h2 {
color:#FFFFFF;
font-size:18px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 0.8px 0.8px #000000;

/* background: #39dac4; */
}
header .header-content .header-content-inner .list-badges {
margin-bottom:0px;
}
header .header-content .header-content-inner .list-badges img {
height:50px;
margin-bottom:0px;
}
header .device-container {
max-width:100%;
margin:0 auto 100px
}
header .device-container .screen img {
border-radius:3px
}
@media (min-width:768px) {
header {
min-height:100vh;
}
header .header-content {
text-align:left;
padding:0;
height:100vh
}
header .header-content .header-content-inner {
max-width:100%;
margin:0;
position:absolute;
top:50%;
transform:translateY(-60%)
}
header .header-content .header-content-inner h1 {
font-size:85px
}
header .device-container {
max-width:100%;
max-height:calc(0vh);
margin:100px auto 0
}
}
footer, section.contact {
text-align:center
}
@media (min-width:992px) {
header .header-content .header-content-inner h1 {
font-size:100px;
}
}

.filter {
    -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  padding: 5px;
}
.filter1 {
    -webkit-filter: brightness(0) invert(0);
  filter: brightness(0) invert(0);
    padding: 5px; 
}
section {
padding:100px 0
}
section h2 {
font-size:50px
}
section.download {
padding:100px 0;
position:relative
}
section.download h2 {
margin-top:0;
font-size:50px
}
section.download .badges .badge-link {
display:block;
margin-bottom:25px
}
section.download .badges .badge-link:last-child {
margin-bottom:0
}
section.download .badges .badge-link img {
height:180px;
padding:0px;
border-radius: 80%;
object-fit: cover;
}
@media (min-width:768px) {
section.download .badges .badge-link {
display:inline-block;
margin-bottom:0
}
section.download h2 {
font-size:50px
}

}
section.features .section-heading {
margin-bottom:100px
}
section.features .section-heading h2 {
margin-top:0
}
section.features .section-heading p {
margin-bottom:0
}
section.features .device-container, section.features .feature-item {
max-width:300px;
margin:0 auto;
}
section.features .device-container {
margin-bottom:100px;
}
@media (min-width:992px) {
section.features .device-container {
margin-bottom:0;
}
section.features .device-container, section.features .feature-item {
max-width:none;

}
}
section.features .feature-item {
text-align:center;
margin-bottom:30px;
margin-top: 20px;
width: 170px;
}
section.contact h2, section.cta .cta-content h2 {
margin-top:0;
margin-bottom:20px
}

section.features .text-project {
  font-size: 13px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
section.features .credits {
  font-size: 10px;

}
section.features .code-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(83, 83, 83);
  border: 2px solid rgb(85, 85, 85);
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
section.features .code-button:hover,
.code-button:active {
  background-color: rgb(85, 85, 85); /* fallback */
  background-color: rgb(85, 85, 85);
  border-color: rgb(85, 85, 85); /* fallback */
  border-color: rgb(85, 85, 85);
  color: #ffffff;
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}


section.features .project-img .image img{
    
    width:600px;
    height:500px;
    border-radius: 20px;
    object-fit: cover;
  
}



section.features .project-img .mySlides {
  display: none;
}

section.features .project-img {
  width: 600px;
  height: 500px;
  margin-bottom: 40px;
  
}

section.features .project-img .mySlides img{
  width: 100%;
  height: 480px;
  border-radius: 10px;
  /* object-fit: cover; */
} 


section.features .project-img1 {
  width: 600px;
  height: 500px;
  margin-bottom: 40px;
  background-color: #fff; 
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 10px;
  margin-right: 80px;
}

section.features .project-img1 .slide{
  display: inline-block;
}
section.features .project-img1 .slide img{
  width: auto;
  height: 480px;
  border-radius: 10px;
  /* object-fit: cover; */
} 



/* Next & previous buttons */
section.features .project-img .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
section.features .project-img .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-left: 555px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
section.features .project-img .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
section.features .project-img .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
section.features .project-img .caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

section.features .project-img .demo {
  opacity: 0.6;
}

section.features .project-img .active,
.demo:hover {
  opacity: 1;
}

section.features .project-img .hover-shadow {
  transition: 0.3s;
}

section.features .project-img .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


section.features .feature-item i {
font-size:80px;
background:-webkit-linear-gradient(to left, #7afdac, #519ad6);
background:linear-gradient(to left,#7afdac, #519ad6);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent
}
section.cta {
position:relative;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
-o-background-size:cover;
background-position:center;
background-image:url(../img/bg-cta.jpg);
padding:250px 0
}
section.cta .cta-content {
position:relative;
z-index:1
}
section.cta .cta-content h2 {
color:#fff;
max-width:450px;
font-size:50px
}
@media (min-width:768px) {
section.cta .cta-content h2 {
font-size:80px
}
}
section.cta .overlay {
height:100%;
width:100%;
background-color:rgba(0,0,0,.5);
position:absolute;
top:0;
left:0
}
footer ul, section.contact ul.list-social {
margin-bottom:0
}
section.contact h2 i {
color:#000000
}
section.contact ul.list-social li a {
display:block;
height:80px;
width:80px;
line-height:80px;
font-size:40px;
border-radius:100%;
color:#000;
margin-bottom: 40px;
}
section.contact p {
    margin-top: 30px;
    font-size: 12px;
}
footer p, footer ul li a {
font-size:12px
}
footer, footer ul li a {
color:rgba(255,255,255,.3)
}
section.contact ul.list-social li.social-twitter a {
background-color:#1da1f2
}
section.contact ul.list-social li.social-twitter a:hover {
background-color:#0d95e8
}
section.contact ul.list-social li.social-facebook a {
background-color:#3b5998
}
section.contact ul.list-social li.social-facebook a:hover {
background-color:#344e86
}
section.contact ul.list-social li.social-google-plus a {
background-color:#dd4b39
}
section.contact ul.list-social li.social-google-plus a:hover {
background-color:#d73925
}
footer {
background-color:#222;
padding:25px 0
}
footer p {
margin:0
}
footer ul li a.active, footer ul li a:active, footer ul li a:focus, footer ul li a:hover {
text-decoration:none
}
.bg-primary {
    color: #000;
background:#ebbc45;
background-image: linear-gradient(to bottom right, #c0fcbe,#c1e3fa);
/* background:-webkit-linear-gradient(#f8de9c, #fdc539);
background:linear-gradient(#fdc539, #f8de9c) */
}
.text-primary {
color:#fdcc52
}
.no-gutter>[class*=col-] {
padding-right:0;
padding-left:0
}
.btn-outline {
color:#fff;
border:1px solid
}
.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
color:#fff;
background-color:#fdcc52;
border-color:#fdcc52
}
.btn {
border-radius:300px
}
.btn-xl {
padding:15px 45px;
font-size:11px
}
::-moz-selection {
color:#fff;
text-shadow:none;
background:#222
}
::selection {
color:#fff;
text-shadow:none;
background:#222
}
img::selection {
color:#fff;
background:0 0
}
img::-moz-selection {
color:#fff;
background:0 0
}
